<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.foodrecommendation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".testgridlayout"></activity>
        <activity android:name=".suggestedhcvegetables" />
        <activity android:name=".suggestedhypertensionothers" />
        <activity android:name=".suggestedhypertensionlegume" />
        <activity android:name=".suggestedhypertensionprotein" />
        <activity android:name=".suggestedhypertensionvegetables" />
        <activity android:name=".suggesteshypertensionfruit" />
        <activity android:name=".suggestedhypertensiongrains" />
        <activity android:name=".suggestedhcothers" />
        <activity android:name=".suggestedhclegume" />
        <activity android:name=".suggestedhcfat" />
        <activity android:name=".suggestedhcprotein" />
        <activity android:name=".suggestedhcfruit" />
        <activity android:name=".suggestedhcgrains" />
        <activity android:name=".suggestedgoutdairy" />
        <activity android:name=".suggestedgoutfat" />
        <activity android:name=".suggestedgoutprotein" />
        <activity android:name=".suggestedgoutvegetables" />
        <activity
            android:name=".ui.login.suggestedgoutvegetables"
            android:label="@string/title_activity_suggestedgoutvegetables" />
        <activity android:name=".suggestedgoutfruit" />
        <activity android:name=".suggestedgoutgrains" />
        <activity android:name=".avoidedhypertensionothers" />
        <activity android:name=".avoidedhypertensiondairy" />
        <activity android:name=".avoidedhypertensionsugar" />
        <activity android:name=".avoidedhypertensionfat" />
        <activity android:name=".avoidedhypertensionprotein" />
        <activity android:name=".avoidedhypertensionvegetables" />
        <activity android:name=".avoidedhypertensionfruit" />
        <activity android:name=".avoidedhypertensiongrains" />
        <activity android:name=".avoidedhcothers" />
        <activity android:name=".avoidedhcdairy" />
        <activity android:name=".avoidedhcsugar" />
        <activity android:name=".avoidedhcfat" />
        <activity android:name=".avoidedhcprotein" />
        <activity android:name=".avoidedhcvegetables" />
        <activity android:name=".avoidedhcfruit" />
        <activity android:name=".avoidedhcgrains" />
        <activity android:name=".avoidedgoutothers" />
        <activity android:name=".avoidedgoutlegume" />
        <activity android:name=".avoidedgoutprotein" />
        <activity android:name=".avoidedgoutvegetables" />
        <activity android:name=".avoidedgoutgrains" />
        <activity android:name=".avoideddiabetessugar" />
        <activity android:name=".avoideddiabetesfat" />
        <activity android:name=".avoideddiabetesvegetables" />
        <activity android:name=".suggesteddiabetesdairy" />
        <activity android:name=".suggesteddiabeteslegume" />
        <activity android:name=".suggesteddiabetesprotein" />
        <activity android:name=".suggesteddiabetesvegetable" />
        <activity android:name=".suggesteddiabetesgrains" />
        <activity android:name=".suggesteddiabetesfruit" />
        <activity android:name=".avoidedhc" />
        <activity
            android:name=".Popsuggestedhc"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name=".suggestedhc" />
        <activity
            android:name=".Popsugestedgout"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".Popsugestedhypertension"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".Popsugesteddiabetes"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name=".avoidedhypertension" />
        <activity android:name=".suggestedhypertension" />
        <activity android:name=".avoideddiabetes" />
        <activity android:name=".suggesteddiabetes" />
        <activity android:name=".avoidedgout" />
        <activity android:name=".suggestedgout" />
        <activity android:name=".Illness" />
        <activity android:name=".Introgout" />
        <activity android:name=".introdiabetes" />
        <activity android:name=".Introhc" />
        <activity android:name=".Introbp" />
        <activity android:name=".Introduction" />
        <activity android:name=".Tipsbp" />
        <activity android:name=".Tipsgout" />
        <activity android:name=".tipsdiabetes" />
        <activity android:name=".Tipscholestrol" />
        <activity android:name=".Tips" />
        <activity android:name=".Mainpage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>